body {
    background-color: black;
    max-width: 400px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 35px;
    transition: .3s;
}
button:hover{
    background-color: white;
}
button:active{
    background-color: white;
}
h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}
input{
    height: 30px;
    width: 300px;
    background-color: #333;
    border: 2px solid;
    border-radius: 2px;
    border-color: white;
    color: white;
    outline: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    color: white;
    background-color: #333;
    padding: 5px;
    margin: 5px auto;
    height: 30px;
    border-radius: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
span{
    cursor: pointer;
}